<% visitor=notification.visitor %>
<% post=notification.micropost %>

<div class="user-view clearfix ">
  <% unless notification.visitor.user_name == current_user.user_name %>
    <%= link_to user_path(notification.visitor) do %>
      <%=  image_tag visitor.user_image, class:"user-thumb", style:"width: 60px;"%>
    <% end %>
    <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <% end %>
</div>
