<% provide(:title, "About") %>
<div class="align-items-center">
  <h1>利用規約</h1>

  <p>この利用規約（以下，「本規約」といいます。）は，このウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>

  <h2 class="midashi">第1条（適用）</h2>

  <p>本規約は，ユーザーと本サービスの利用に関わる一切の関係に適用されるものとします。
    当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
    本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</p>

    <h2 class="midashi">第2条（利用登録)</h2>

    <p>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこの承認を登録希望者に通知することによって，利用登録が完了するものとします。
      当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。</p>

      <h2 class="midashi">第3条（ユーザーIDおよびパスワードの管理)</h2>

      <p>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。
        ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。
        ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。</p>

        <h2 class="midashi">第4条（禁止事項）</h2>

        <p>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。

          法令または公序良俗に違反する行為
          犯罪行為に関連する行為
          当社，本サービスの他のユーザー，または第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為
          当社のサービスの運営を妨害するおそれのある行為
          他のユーザーに関する個人情報等を収集または蓄積する行為
          不正アクセスをし，またはこれを試みる行為
          他のユーザーに成りすます行為
          以下の表現を含み，または含むと当社が判断する内容を本サービス上に投稿し，または送信する行為
          過度に暴力的な表現
          露骨な性的表現
          自殺，自傷行為，薬物乱用を誘引または助長する表現
          その他反社会的な内容を含み他人に不快感を与える表現
          以下を目的とし，または目的とすると当社が判断する行為
          営業，宣伝，広告，勧誘，その他営利を目的とする行為（当社の認めたものを除きます。）
          性行為やわいせつな行為を目的とする行為
          他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為
          当社，本サービスの他のユーザー，または第三者に不利益，損害または不快感を与えることを目的とする行為
          その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為
          宗教活動または宗教団体への勧誘行為</p>

            <p>本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄とします。
              以上
            </p>
          </div>
