<div class="align-items-center">
  <h1>機能一覧</h1>
<ul>
  <li>検索機能</li>
  <li>snsログイン(google)機能</li>
  <li>投稿機能<p>投稿記事の種類によって表示項目変更(js)</p></li>
  <li>いいね機能</li>
  <li>コメント機能</li>
  <li>メール機能</li>
  <li>通知機能</li>
</ul>
</div>
